@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Oswald', 'sans-serif';
}

#cal-cells-grid > div:last-child {
    border-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
